// Break Points

$xs-mobile: 320px;
$sm-mobile: 360px;
$md-mobile: 425px;
$lg-mobile: 600px;;
$tablet: 768px;
$sm-laptop: 992px;
$laptop: 1200px;
$sm-desktop: 1300px;
$desktop: 1400px;
$lg-desktop: 1600px;
