// Font Size

$lg-title-font: 56px;
$title-font: 48px;
$sm-title-font: 36px;
$subtitle-font: 30px;
$sm-subtitle-font: 25px;
$lg-btn-font: 20px;
$btn-font: 18px;
$base-font: 16px;
$sm-font: 14px;
$xs-font: 12px;
