// Font Family
$montserrat-bold: montserrat-bold;
$montserrat-semibold: montserrat-semibold;
$montserrat-medium: montserrat-medium;
$montserrat-regular: montserrat-regular;
$montserrat-light: montserrat-light;
$montserrat-thin: montserrat-thin;

// Font Weight
$lighter: 300;
$normal: 400;
$bold: 600;
